<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        Vulnerable Web Application
    </header>
    <main>
        <div class="container">
            <div class="task">
                <div class="individual">
                    <a href="./task1">Task 1<br>SQL Injection</a>
                </div>
            </div>
            <div class="task">
                <div class="individual">
                    <a href="./task2">Task 2<br>Cookie Manipulation</a>
                </div>
            </div>
            <div class="task">
                <div class="individual">
                    <a href="./task3">Task 3<br>Navigate the Secret Path</a>
                </div>
            </div>
            <div class="task">
                <div class="individual">
                    <a href="./task4">Task 4<br>Find Me</a>
                </div>
            </div>
            <div class="task">
                <div class="individual">
                    <a href="./task5">Task 5<br>Network</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>